#app {
    margin: 40px auto;
    width: 50%;
}
#err {
    color: #F00;
}
#download {
    display: none;
    margin-top: 10px;
}
.file {
    margin-right: 10px;
}
.spinner-border {
    margin-right: 10px;
    display: none;
}